* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma;
  background-color: rgb(75, 75, 75);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

canvas {
  margin: 10px;
  background-color: black;
}

.controler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}